<div class="container">
  <h1>Welcome to Senior Digital Literacy</h1>
  <p>This web application is designed to help seniors improve their digital skills!</p>

  <!-- Courses button -->
  <a href="<%= courses_path %>" class="button">View Courses</a>
</div>
