<div class="container">
  <h1>Welcome to Senior Digital Literacy</h1>
  <p>This web application is designed to help seniors improve their digital skills!</p>

  <!-- Course buttons -->
  <div class="courses">
    <a href="<%= phone_course_path %>" class="button">Phone Course</a>
    <a href="<%= tv_course_path %>" class="button">TV Course</a>
    <a href="<%= computer_course_path %>" class="button">Computer Course</a>
  </div>
</div>
  